<form action="/" method="POST">
  <label for="name"> Name</label>
  <input type="text" id="name" name="name">
  <label for="breed"> Breed</label>
  <input type="text" id="breed" name="breed">
  <label for="age"> Age</label>
  <input type="text" id="age" name="age">
  <input type="submit" value="submit">
</form>
