<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Puppy Adoption Store</title>
</head>
<body>
  <h1>Puppy Name:</h1>
      <h2><%= @newpuppy.name %></h2>
  <h1>Puppy breed:</h1>
    <h2><%= @newpuppy.breed %></h2>
  <h1>Puppy age:</h1>
    <h2><%= @newpuppy.age %></h2>
</body>

</html>
